---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Log In">

  <div id="login-page">

    <form id="form">
        <label class="user-info">
            <h4>Email</h4>
            <input name="email" type="email">
        </label>

        <label class="user-info">
            <h4>Password</h4>
            <input name="password" type="password">
        </label>

        <button type="submit">Login</button>

    </form>

    <p style="font-size: 16px;"> No account? 
        <a href="/signup" style="color:#375c66;">create an account</a>
    </p>
  </div>

  <style>
    #login-page{
      color: #fef9c8;
      background-color: #ed401c;
      padding: 2rem 4rem;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
    }

    #form{
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: flex-start;
      gap: 1rem;
      
    }
    .user-info h4{
      font-size: 20px;
      margin: 5px ;
    }
    .user-info input{
      margin: 0;
      background-color: #fef9c8;
      border: solid 2px #fef9c8;
      border-radius: 5px;
      padding: 10px 20px;
      width:15rem ;
      box-shadow: -2px -2px 2px rgba(0,0,0,0.4);
    }
    .user-info input:hover{
      box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
      transition: 0.5s;
    }
    #login-page button{
      font-family:"KatalesBroken";
      color: #ed401c;
      font-size: 20px;
      margin: 20px;
      padding: 10px 15px;
      background-color: #fef9c8;
      border: solid 2px #fef9c8;
      border-radius: 5px;
      margin-bottom: 10px;
      box-shadow: -2px -2px 2px rgba(0,0,0,0.4);
    }
    #login-page button:hover{
      transition: 0.2s;
      transform: rotate(5deg) scale(1.5);
      box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
      border: solid 2px #375c66;
    }
    #login-page a:hover{
      text-decoration: none;
      transition: 0.5s;
    }
    input{
      font-family: "KatalesBroken";
      font-size: 20px;
    }
  </style>
  
</Layout>

<script type="module">
  import { createClient } from 'https://esm.sh/@supabase/supabase-js@2';
  
  const supabase = createClient(
    'https://xarsycpiqgviqkxyodbv.supabase.co',
    'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhhcnN5Y3BpcWd2aXFreHlvZGJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc0NDk5NDksImV4cCI6MjA4MzAyNTk0OX0.Oppyl8Oz3RrPAHdjjZkGV8SX-m1GdGOgga9KqPRNySI' 
  );

  const form = document.querySelector("#form");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    const fd = new FormData(form);
    const email = fd.get("email")?.toString().trim();
    const password = fd.get("password")?.toString();

    const { data, error } = await supabase.auth.signInWithPassword({
      email,
      password
    });

    if (error) {
      alert("Register to be a Chilli Padi");
      return;
    }

    alert("Hi Chilli Padi ~");
    window.location.href = "/blog";
  });
</script>
