---
const {title} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="stylesheet"href=/styles.css>
	</head>
	<body>
		<header>
			<a href="/" id="brand">
				<span>SPICY</span>
				<img src="/logo.png" style="max-width: 200px;">
				<span>LAHHH</span>
			</a>
			<nav>
				<ul style="list-style-type: none;">
					<li><a href="/about">CHILLI STORY</a></li>
					<li><a href="/blog">CHILLI PASTE</a></li>
					<li><a href="/signup">SIGNUP</a></li>
					<li><a href="/login">LOGIN</a></li>
					<li><a href="/account">CHILLI PADI</a>
				</ul>
			</nav>
		</header>
		<main>
			<slot />
		</main>
		<footer>
			<a href="/"><img src="/logo.png" style="max-width: 200px;"></a>
			<div class="contact">
				<h3>Contact Us</h3>
				<a href="mailto:elinkok320@gmail.com" style="text-decoration: none; color:#375c66">spicylahhh@gmail.com</a>
				<h3>Instagram</h3>
				<a href="https://www.instagram.com/spicylahhh/" style="text-decoration: none; color:#375c66">@SpicyLahhh</a>
			</div>
		</footer>
	</body>
</html>